# macOS
.DS_Store

# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
.idea/
# Allow committed VSCode workspace settings
!.vscode/settings.json
*.swp

# Environment variables
.env